@import url('/ETest/resources/css/colors.css');

body {
    padding-top: 55px;
}
.project-template {
    padding:  20px 15px;
}

.info-danger {
    background-color: #FCF2F2;
    border-left: 5px solid #DFB5B4;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}

sup.required {
    color: #880000;
    font-weight: bold;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.navbar-brand {
    font-size: 12px;
    font-weight: bold;
}

footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: rgb(119, 119, 119);
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
}

.nav-tabs li.active a:hover{
    cursor: pointer;
}